<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
    <link rel="stylesheet" href="../static/styles/login.css">
	<script src="../static/scripts/login.js"></script>
</head>

<body>

	<div id="loading" class="loading-overlay">
		<div class="spinner"></div>
	</div>

  <h1>Sign In Form</h1>
<div id="wrapper">
	<form id="signin" method="post" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="username" />
		<input type="password" id="pass" name="pass" placeholder="password" />
		<button type="submit">&#xf0da;</button>
	</form>
</div>
  
  
</body>
</html>
