<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign Up Form</title>
      <link rel="stylesheet" href="../static/styles/login.css">
</head>

<body>
  <h1>SIGN UP</h1>
<div id="wrapper">
	<form id="signup" method="post" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="username" />
		<input type="password" id="pass" name="pass" placeholder="password" />
		<select name="role" id="select_role">
			<option value="">-- Выбрать --</option>
			<option value="builder">Сборщик</option>
			<option value="manager">Менеджер</option>
		</select>
		<button  type="submit">&#xf0da;</button>
	</form>
</div>
  
  
</body>
</html>
