<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/scripts/manager_main.js"></script>
    <link rel="stylesheet" href="../static/styles/admin.css">
    <title>Админ панель</title>
</head>
<body>

    <div id="success-message" class="success-message">Успешно</div>

    <div class="tabs">
        <div class="tab active" onclick="showTab('new-orders')">Новый заказ</div>
        <div class="tab" onclick="showTab('active-orders')">Активные заказы</div>
        <div class="tab" onclick="showTab('active-users')">Пользователи</div>
        <div class="tab" onclick="showTab('analytic')">Статистика</div>
        <form action="/logout" class="logout-button"><button type="submit">Выход</button></form>

    </div>
    

    
    <div class="container" id="new-orders">
        <button class="add-btn" onclick="toggleForm()">Добавить заказ</button>
        <table>
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="order-list"></tbody>
        </table>
    </div>
    

    <div class="container hidden" id="active-orders">
        <h3>Активные заказы</h3>
        <table>
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>Статус заказа</th>
                </tr>
            </thead>
            <tbody id="active-order-list"></tbody>
        </table>
    </div>
    
    <div class="container hidden" id="active-users">
        <button class="add-btn" onclick="toggleUserForm()">Добавить пользователя</button>
        <h3>Пользователи</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody id="active-user-list"></tbody>
        </table>
    </div>

    <div id="user-modal" class="modal hidden">
        <div class="modal-content">
            <h3>Добавить пользователя</h3>
            <input type="text" id="userLogin" placeholder="Логин"><br>
            <input type="text" id="userPass" placeholder="Пароль"><br>
            <h4 type="text" id="userRoles" placeholder="Роль"><h4>
            <select name="role" id="select_role">
                <option value="">-- Выбрать --</option>
                <option value="builder">Сборщик</option>
                <option value="manager">Менеджер</option>
                </select>
            <div class="modal-buttons">
                <button onclick="addUser()">Добавить</button>
                <button onclick="toggleUserForm()">Отмена</button>
            </div>
        </div>
    </div>

    <div id="order-modal" class="modal hidden">
        <div class="modal-content">
            <h3>Добавить заказ</h3>
            <input type="text" id="name" placeholder="Название элемента"><br>
            <input type="text" id="article" placeholder="Артикул"><br>
            <input type="number" id="price" placeholder="Цена"><br>
            <div class="modal-buttons">
                <button onclick="addOrder()">Добавить</button>
                <button onclick="toggleForm()">Отмена</button>
            </div>
        </div>
    </div>
</body>
</html>
